body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f242d;
}

header {
  background-color: #1f242d;
  padding: 15px;
  text-align: center;
  color: #ddd;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
}

nav a {
  color: #ddd;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #de43ba;
  color: #ddd; 
}

.contenido {
  width: 300px;
  overflow: hidden;
}

.parrafo {
  display: none;
  background: linear-gradient(45deg, #1f242d, #de43ba); 
  color: #fff; 
  padding: 20px; 
}


.mostrar-mas {
  cursor: pointer;
  color: #fff; 
  background: #1f242d;
  padding: 15px;
  border-radius: 20%;
  margin: 5px;
}



  
  
  
  
  
  