body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f242d;
}

header {
  background-color: #1f242d;
  padding: 15px;
  text-align: center;
  color: #ddd;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
}

nav a {
  color: #ddd;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #de43ba;
  color: #ddd; /* Mantén el color del texto blanco en el hover */
}

.contenido {
  width: 300px;
  overflow: hidden;
}

.parrafo {
  display: none;
  background: linear-gradient(45deg, #1f242d, #de43ba); /* Ejemplo de gradiente */
  color: #fff; /* Asegura que el texto sea legible en el fondo */
  padding: 20px; /* Añade un poco de espacio alrededor del texto */
}


.mostrar-mas {
  cursor: pointer;
  color: #fff; /* Cambiado a blanco para ser más visible en el fondo oscuro */
}

  
  
  
  
  
  