body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Para ocultar el desbordamiento vertical */
  }
  
  .container {
    position: relative;
    height: 500%; /* Ajusta según la cantidad de imágenes y la resolución de tu pantalla */
  }
  
  .animate-image {
    position: absolute;
    bottom: 0;
    animation: moveUp 5s linear infinite;
  }
  
  @keyframes moveUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  