body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .carousel-container {
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    width: 100vw;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  